/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans;
}

/*UTILITIES*/
.container-l {
    width: 1130px;
    margin: 0 auto;
}

.container-s {
    width: 940px;
    margin: 0 auto;
}

h3 {
    font-size: 22px;
    padding-bottom: 10px;
    /* font-weight: 700; */
}

h2 {

    font-weight: 500;
    font-size: 40px;
    margin-bottom: 45px;

}

h6 {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 20px;
}

/*BUTTONS*/
.blue-button {
    padding: 6px 10px;
    text-decoration: none;
    border: 0;
    background-color: rgb(0, 97, 255);
    color: white;
    font-size: 17px;
    cursor: pointer;

}

.blue-button-long {
    padding: 6px 8px;
    width: 250px;
    text-decoration: none;
    border: 0;
    background-color: rgb(0, 97, 255);
    color: white;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    left: calc(100% - 250px);
    bottom: 90px;

}

.white-button {
    padding: 6px 10px;
    text-decoration: none;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 17px;
    cursor: pointer;
    display: block;
    margin-top: 25px;

}


button:hover {
    background-color: rgba(187, 177, 177, 0.479);
    color: black;

}

body {
    margin-top: 70px;
}

/*HEADER*/
header {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;

}

header a {
    display: flex;
    text-decoration: none;
    color: black;
    height: 100%;
    align-items: center;
}

header a:hover {
    border-bottom: 2px solid gray;
}

.left-h img {
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.left-h {
    display: flex;
    height: 100%;
    width: 470px;
    text-align: start;
    justify-content: space-between;
    align-items: center;
}

.right-h {
    display: flex;
    height: 100%;
    width: 470px;
    text-align: end;
    justify-content: space-between;
    /* align-items: center; */

}


.h-navbar {
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    padding: 0 10px;
    box-shadow: 0px 1px #707070ab;
    /* border: 2px dashed black; */
}

/*MAIN*/

/*jumbotrone*/

.jumbotrone {
    height: 680px;
    background-color: rgb(180, 208, 231);

}

.j-items h1 {
    font-size: 68px;
    padding-top: 65px;
    padding-bottom: 50px;
}

.j-items p {
    padding-bottom: 25px;
    padding-top: 25px;
}

.j-items .first-p {
    padding-top: 0;
}

.j-items img {
    /* position: relative;
    left: 200px;
    bottom: 200px; */
    height: 450px;

    float: right;
}

.j-items .fa-arrow-down {
    position: relative;
    top: 50px;
    bottom: 0;
    animation: arrow-bouncing 1s infinite;
}

@keyframes arrow-bouncing {
    0% {
        top: 50px
    }

    25% {
        top: 55px;
    }

    30% {
        top: 60px;

    }

    50% {
        top: 73px;
    }

    60% {
        top: 60px;
    }

    75% {
        top: 55px;
    }

    100% {
        top: 50px;
    }

}

/*MAIN SECTION*/

.main-s {
    min-height: 1800px;

}

.main-s-items {
    height: 320px;
    padding-top: 150px;
}

.little-circle-blue {
    position: relative;
    top: 4px;
    display: inline-block;
    height: 17px;
    width: 17px;
    border: 5px solid rgb(0, 97, 255);
    border-radius: 50%;
    background-color: white;
    border: 4px solid rgb(214, 206, 206);
    cursor: pointer;


}

.main-s-items .right {
    margin-left: 40px;

}

.little-circle-blue:hover {
    border: 5px solid rgb(0, 97, 255);
}



.main-s p {
    display: inline-block;
    font-size: 14px;
}

/*PRICES*/
.types-row {
    display: flex;
    gap: 50px;

}

.version-header {
    display: flex;
    gap: 50px;
}

.types-col {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    height: 865px;
    border: 1px solid rgb(208, 208, 211);
    padding: 30px 20px;

}

.version-header .version {
    display: block;
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(208, 208, 211);
    border-bottom: 0px;
    width: calc(100% / 3);

}

.types-col .type-price {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}

.types-col p {
    font-size: 14px;
    padding-bottom: 20px;
}

.types-col address {
    font-size: 15px;
    padding-bottom: 40px;
}

.types-col .blue-button {
    margin-top: 25px;
    margin-bottom: 30px;
}

.oppure {
    font-size: 14px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(208, 208, 211);
}

.types-col .fa-check {
    color: rgb(0, 97, 255);
}

.long-version {
    display: block;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(208, 208, 211);
    border-bottom: 0px;
    width: 100%;

}

.long-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 1px solid rgb(208, 208, 211);
    padding: 30px 20px;

}

/*PARTNERS*/

.partners {
    height: 430px;
    margin-top: 130px;
    border: 2px solid rgb(255, 255, 255);
    padding-right: 40px;
    margin-bottom: 160px;
}

.partners img {
    width: 550px;
    float: left;
    margin-right: 50px;

}

.partners h3 {
    margin-top: 50px;

}

.partners p {
    display: inline;
}

/*DROPBOX BUSINESS*/
.db-business {
    margin-bottom: 130px;
}

.db-business-final {
    padding-top: 150px;
    padding-right: 230px;
}

.db-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.db-col {
    margin: 0 auto;
    width: calc(100% / 3.4);
    margin-bottom: 30px;
}

.db-col img {
    width: 300px;
    height: 250px;
}

/*CUSTOMERS*/

.customers {
    min-height: 500px;
    border: 2px dashed black;

}

.customer-row {
    display: flex;
    flex-wrap: wrap;

}

.customer-col {
    width: calc(100% / 3);
    border: 2px dashed black;
    display: flex;
    flex-wrap: wrap;
}

.customer-col.description {
    background-color: blueviolet;

}

.customer-col img {
    display: block;
    width: 150px;


}

.customer-col .box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 14, 14);
    width: 285px;
    height: 285px;
}

.box:hover {
    border: 20px solid rgba(255, 253, 253, 0.363);

}

/*boxs color*/

.box.designit {
    background-color: rgb(162, 211, 155);
}

.box.asu {
    background-color: rgb(97, 8, 43);
}

.box.uf {
    background-color: rgb(0, 147, 206);
}

.box.topps {
    background-color: rgb(255, 28, 28);
}